.rectangle {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #345F3C; /* light background color */
  width: 100%;
  height: 500px;
  border-radius: 0 0 350px 350px;  
  margin-top: 81px;
}

/* Container for text and flower elements */
.content-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px; /* Space between text-content and flower-container */
}

.text-content {
  flex: 1;
}

.text-content h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
}

.text-content span {
  color: #ffffff;
  font-size: 30px;
  flex: 1;
}

.text-content p {
  font-family: 'Libre Baskerville', serif;
  font-weight: 800;
  color: #000000;
  font-size: larger;
  max-width: 1000px; /* Set a maximum width for the paragraph */
  word-wrap: break-word; /* Ensure long words break correctly */
  overflow-wrap: break-word; /* Adds a more comprehensive word-breaking strategy */
  hyphens: auto; /* Adds hyphens if necessary */
  line-height: 1.5; /* Improves readability by adding space between lines */
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .rectangle {
    flex-direction: row;
    height: auto;
    margin-top: 81px; /* Add margin-top for mobile screens */
    border-radius: 0 0 30px 30px; /* Keep the rectangle's shape */

  }

  .content-container {
    flex-direction: row;
    justify-content: space-between; /* Ensures even spacing between content and image */
  }

  .text-content h1 {
    font-size: large;
  }

  .text-content span {
    font-size: 20px;
  }

  .text-content p {
    font-size: small;
  }

  .join-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .flower-container {
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
  }

  .square {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .rectangle {
    padding: 10px;
    margin-top: 81px; /* Add a larger margin-top for smaller screens */
    border-radius: 0 0 30px 30px; /* Keep the rectangle's shape */

  }

  .text-content h1 {
    font-size: medium;
  }

  .text-content span {
    font-size: 18px;
  }

  .text-content p {
    font-size: smaller;
  }

  .join-button {
    font-size: 12px;
    padding: 6px 12px;
  }

  .flower-container {
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: repeat(2, 80px);
  }

  .square {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 360px) {
  .rectangle {
    padding: 10px;
    margin-top: 81px; /* Add a larger margin-top for smaller screens */
    border-radius: 0 0 30px 30px; /* Keep the rectangle's shape */

  }

  .text-content h1 {
    font-size: medium;
  }

  .text-content span {
    font-size: 18px;
  }

  .text-content p {
    font-size: xx-small;
  }

  .join-button {
    font-size: 12px;
    padding: 6px 12px;
  }

  .flower-container {
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: repeat(2, 80px);
  }

  .square {
    width: 80px;
    height: 80px;
  }
}
